@font-face {
  font-family: 'Netflix Sans';
  src: url('../font/NetflixSans-Regular.otf') format('opentype');
}
body {
  padding: 0;
  margin: 0;
  background-color: rgb(35, 35, 35);
  overflow-x: hidden;
}


